* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.intro-section-end-p, .intro-section-beginning-p {
    margin-bottom: 0;
}

.intro-section-middle-p, .intro-section-beginning-p  {
    margin-top: .5rem;
}

.end-footer {
    padding: 1rem;
}

h1 {
    margin: 0 0 1rem 0;
    font-size: 3rem;  
}

.main-header {
    padding: 1.4rem 0 1rem 0;
}

hr {
    background-color: white;
    border: 1px solid black;
    margin: 0 1.5rem;
}

.main-header, .end-footer {
    background-color: black;
    color: #A9A9A9;
}

body {
    background-color: #F5F5DC;
}
  .end-footer, .main-header-div, #contact-section, .intro-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    color: #2E8B57;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: red;
}
a:active {
    color: purple;
}
.main-header-div > h3 {
    margin: 0;
}

.section-h2 {
    font-family: sans-serif, Arial, Helvetica;
}

#contact-section {
    padding-top: 0rem;
    padding-bottom: 3.5rem;
}

.me-image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.75rem;
    padding: 0 1.5rem;
}

.content-section {
    /*margin: 0 20rem;*/
    padding: 0 2rem;
 }

.intro-section {
    padding: 0 3.5rem 2.5rem 3.5rem;
}

.about-section {
    padding-top: 0rem;
    padding-bottom: 2.5rem;
}
.about-div {
    padding: 0 4rem;
}

main img {
    width: 100%;
    padding-bottom: 2.5rem;
}

#nav-links {
    list-style: none;
    display: flex;
    justify-content: center; 
}

#nav-links > li > a {
    padding-right: 20px;
}
h4 {
    display: inline;
    color: #2E8B57;
}

#certificate-img {

}

.card {
    padding: 2rem;
}

.card-title {
    margin-bottom: 3rem;
}

.card-text {
    margin-top: 2rem;
}

.project-list {

}

.projects {
    
}

.project {
    
}

.project-div {

}

a {
    text-decoration: none !Important;
}

.card-title {
    
}

.project-details {
    
}

@media all and (min-width: 768px) {
#me-image {
    width: 350px;
    height: 467px;
    width: 15rem;
    height: 22rem;
    padding: 2.5% 0;
}
.me-image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.main-header, .end-footer {
    background-color: black;
    color: #A9A9A9;
}

body {
    background-color: #F5F5DC;
}
 .end-footer,  #contact-section, .intro-div   {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    color: #2E8B57;
    text-decoration: none;
    font-weight: bolder;
}
.section-h2 {
    
    font-family: sans-serif, Arial, Helvetica;
}
hr {
  /*  width: 15px;
    height: 15px;
    border: none;
    background: #000;
    color: #000;
    margin-top: 30px;
    margin-bottom: 20px;
    transform: rotate(45deg);*/
    background-color: white;
    border: 1px solid black;
    margin: 0 7.5rem;
}
.content-section {
   /*margin: 0 20rem;*/
   padding: 0 2rem;
}
.about-section {
    padding-top: 4rem;
    padding-bottom: 5.5rem;
}
main {
  /*  margin: 3rem 35rem 1rem 35rem;*/
}


.intro-section, #experience {
    padding-bottom: 5.5rem;
}
section {

}

p {
    margin: 0;
}
.about-div {
    padding: 0 8.5rem;
    text-align: center;
}

.main-header {
    padding: 1.5%;

}

.end-footer {
    padding: 1rem;
}
h1 {
    margin: 0 0 1rem 0;
    font-size: 3rem;  
}

.main-header-div > h3,  h1 {
    font-family: cursive, sans-serif;
}

.wrapper {

}
a:hover {
    color: red;
}
a:active {
    color: purple;
}
.main-header-div > h3 {
    margin: 0;
}
#contact-section {
    padding-top: 3.5rem;
    padding-bottom: 5.75rem;
}
#nav-links {
   list-style: none;
   display: flex;
   justify-content: center; 
}
.main-header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#certificate-img {
    
}

.card {
    
}

.card-title {
    
}

.card-text {
    
}

.project-list {
    display: flex;
}

.projects {

}

.project {
    
}

.project-div {
    
}

a {
    text-decoration: none !Important;
}

.card-title {

}

.project-details {

}

}